
<footer>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
         class.xs="footer-xs">
        <div fxFlex="43">
            <span>{{ 'progressBarsDemo' | translate }} 2018 </span>
        </div>
       
        <div fxFlex class="text--right" class.xs="footer-xs">
            <a href="{{appConfig.repositoryURL}}" target="_blank">
                <img src="assets/images/github-circle-white-transparent.svg">
            </a>
        </div>
    </div>
</footer>

